streamlit
langchain
langchain-community
langchain-core
langgraph
langgraph-prebuilt
langgraph-checkpoint
langchain-openai
langchain-text-splitters
chromadb
dashscope
pypdf
python-dotenv
pyyaml
tiktoken
